<h2>Welcome to QmeIn, <strong>{{ user.firstname }}</strong> <strong>{{ user.lastname }}</strong>!</h2>  

{{#unless user.businessname}}
	<h3>There are {{count}} in queue right now.</h3>
	<h3>It will take you about {{waitTime}} minutes to get to the window if you 'Q' in now.</h3>

	<!-- QueMeIn button -->
	<form method="post" action="/users/addtoqueue">
	  <div class="form-group">
		<input type="hidden" class="form-control" name="firstname" value={{user.firstname}}>
		<input type="hidden" class="form-control" name="lastname" value={{user.lastname}}>
		<input type="hidden" class="form-control" name="email" value={{user.username}}>
		<input type="hidden" class="form-control" name="phonenumber" value={{user.phonenumber}}>
	  </div>
	  <button type="submit" class="btn btn-default">QmeIn</button>
	</form>
{{/unless}}

{{#if user.businessname}}
	<h3>Here is the current Queue: </h3>  
	<table>
	  <tr>
		<th>Position</th>
		<th>Last Name</th>
		<th>First Name</th>
		<th>Email</th>
		<th>Phone Number</th>
		<th>Transaction Completed</th>
		<th>Time</th>
	  </tr>
		{{#each queuedata }}
		<tr>
			<td>{{inc @index}}</td>
			<td>{{lastname}}</td>
			<td>{{firstname}}</td>
			<td>{{email}}</td>
			<td>{{phonenumber}}</td>
			<td><form action="/users/deleteuser" method="post">
			<button name="id" type="submit" class="btn btn-default" value={{_id}}>
			Complete</button>
			</form></td>
			<td>{{date}}</td>
		</tr>
		{{/each}}
	</table>
{{/if}}

 <p>{{foo}}</p>


